
{{>headerpartial}}
{{>menupartial}}
<section id="viewFeed">
        <div class="content">
            <div class="chirper">

                <h2 class="titlebar">{{user}}</h2>

                <form id="formSubmitChirp" class="chirp-form">
                    <textarea name="text" class="chirp-input"></textarea>
                    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit" onclick="postChirp(event)">
                </form>

                <div id="userStats" class="user-details">
                    <span>{{chirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
                </div>
            </div>
            <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>

            {{#if hasSubscriptions}}
            <p>No chirps in database</p>

            {{else}}
            {{#each data}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#" class="chirp-author" data-id="{{author}}" onclick="loadOtherUserFeed(event)">{{author}}</a>
                        <span class="chirp-time">{{date}}</span>
                    </div>
                    <p>{{text}}</p>
                </article>
            {{/each}}
            {{/if}}
            </div>
        </div>
    </section>
    {{>footerpartial}}