 {{>headerpartial}} {{>menupartial}}

<section id="viewMe">
    <div class="content">
       
             <div class="chirper">

                <h2 class="titlebar">{{user}}</h2>

                <form id="formSubmitChirp" class="chirp-form">
                    <textarea name="text" class="chirp-input"></textarea>
                    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit" onclick="postChirp(event)">
                </form>

                <div id="userStats" class="user-details">
                    <span>{{chirps}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
                </div>
            </div>
        

        <div id="myChirps" class="chirps">

            <h2 class="titlebar">Chirps</h2>

            {{#if hasChirps}}
            <div class="chirp">
                <span class="loading">No chirps in database</span>
            </div>

            {{else}} {{#each chirpsResponse}}
            <article class="chirp">
                <div class="titlebar">
                    <a class="chirp-author">{{author}}</a>
                    <span class="chirp-time"> <a href="#" data=id="{{_id}}">delete</a> {{date}}</span>
                </div>
                <p>{{text}}</p>
            </article>
            {{/each}} 
            {{/if}}

        </div>

    </div>
</section>
{{>footerpartial}}