<section id="{{sectionType}}" class="{{sectionType}}">
<h1 class="titleForm">{{headline}}</h1>
<form id="{{formId}}" class="form">
    <div>Username:</div>
    <div>
        <input type="text" name="username" required />
    </div>
    <div>Password:</div>
    <div>
        <input type="password" name="passwd" required />
    </div>
    <div>
        <input type="button" id="{{buttonTypeUser}}" value="{{buttonText}}" onclick="{{functionToExec}}" />
    </div>
</form>
</section>