
{{>menupartial}}
<section id="viewFlightDetails">
            <div class="ticket-area">
                <div class="ticket-area-left">
                    <img src="{{image}}" alt="">
                </div>
                <div class="ticket-area-right">
                    <h3>{{destination}}</h3>
                    <div>from {{origin}}</div>
                    <div class="data-and-time">
                        {{date}} {{time}}
                        {{#if flightIsMine}}
                        <a href="#" class="edit-flight-detail" data-id="{{_id}}" onclick="loadEditFlightView(event)"></a>
                        {{/if}}
                    </div>
                    <div>
                        {{seats}} Seats ({{cost}} per seat)
                    </div>
                </div>
            </div>
        </section>

        {{>footerpartial}}