<article>
  {{#if title}}
  <h2>{{title}}</h2>
  <h3>{{>partial}}</h3>
  {{else}}
  <h2>No title</h2>
  {{/if}} {{#each contacts}}
  <div class="title">
    {{name}} {{!--
    <button>&#8505;</button> --}}
  </div>
  <div class="info">
    <p>&phone; {{phone}}</p>
    <p>&#9993; {{email}}</p>
  </div>
  {{/each}} 
</article>